html {
    background: url(data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=) #000000 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 825px;

    font-family: 'Droid Serif', serif;
    font-size: 18px;
    color: #ffffff;
    height: 100%;

    -webkit-transition-property: background-image;
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-property: background-image;
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-in;
    -o-transition-property: background-image;
    -o-transition-duration: 500ms;
    -o-transition-timing-function: ease-in;
    transition-property: background-image;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

body {
    height: 100%;
}

.strip {
    background: url("images/vertical_brush.png") no-repeat center top;
    width: 775px;
    float: right;
    margin-right: 25px;
    height: 100%;
}

.inner-strip {
    width: 350px;
    margin: auto;
}

.now-playing {
    margin-top: 10px;
    text-align: center;
}

.flash {
    -webkit-animation-name: flash;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flash;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: flash;
    -o-animation-duration: 1.5s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: flash;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0%, 75% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
}

@-moz-keyframes flash {
    0%, 75% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
}

@-o-keyframes flash {
    0%, 75% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
}

@keyframes flash {
    0%, 75% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
}

.logo img {
    width: 786px;
    height: 247px;
}

.radio-icons {
    margin-top: 10px;
    padding: 0 15px;
    overflow: hidden;
    text-align: center;
}

.radio-icons a {
    position: relative;
    padding: 0 15px;
    width: 130px;
    height: 130px;
    display: block;
    float: left;
}

.radio-icons a:active {
    top: 5px;
}

.definition {
    margin-top: 10px;
    font-size: 18px;
    line-height: 40px;
    text-align: justify;
    -moz-text-align-last: right;
    text-align-last: right;
}
