html {
    background: url("data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=") #000000 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 786px;

    font-family: 'Droid Serif', serif;
    font-size: 18px;
    color: #ffffff;

    -webkit-transition-property: background-image;
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-property: background-image;
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-in;
    -o-transition-property: background-image;
    -o-transition-duration: 500ms;
    -o-transition-timing-function: ease-in;
    transition-property: background-image;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

body {
    height: 100%;
}

.strip {
    background: url("../images/vertical_brush.png") repeat-y center top;
    width: 686px;
    float: right;
    margin-right: 50px;
    height: 100%;
}

.inner-strip {
    width: 350px;
    margin: auto;
}

.now-playing {
    margin-top: 20px;
    text-align: center;
}

.logo {
    margin-top: 10px;
}

.logo img {
    width: 686px;
    height: 161px;
}

.radio-icons {
    margin-top: 10px;
    height: 130px;
    text-align: center;
    overflow: hidden;
}

.loading {
    padding: 46px 0;
}

.loading img {
    padding: 0 5px;

    opacity: 1;
    -webkit-transition: opacity 0 ease-in-out;
    -moz-transition: opacity 0 ease-in-out;
    transition: opacity 0 ease-in-out;
}

.flash {
    -webkit-animation-name: flash;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flash;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: flash;
    -o-animation-duration: 1.5s;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: flash;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0%, 75% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
}

@-moz-keyframes flash {
    0%, 75% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
}

@-o-keyframes flash {
    0%, 75% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
}

@keyframes flash {
    0%, 75% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.1;
    }
}

.flash.two {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.flash.three {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.radio-icons a.radio-icon {
    display: block;
}

.stream-error {
    padding: 20px 0;
}

.stream-error a {
    color: #0000ff;
}

.definition {
    margin-top: 10px;
    font-size: 18px;
    line-height: 40px;
    text-align: justify;
    -moz-text-align-last: right;
    text-align-last: right;
    padding-bottom: 25px;
}
